__pycache__
.ipynb_checkpoints
.dmypy.json
.vscode
.devcontainer

# Ignore scripts with date markers -- these are dev scripts, not permanent ones which are part of a workflow
scripts/**/2022*.ipynb
scripts/**/2023*.ipynb

work
workflow/*/raw_data
workflow/*/data
workflow/*/results*
.nextflow
.nextflow*
.snakemake
raw-data

# Hydra dev output
outputs
# Nextflow output
results
# Intermediate outputs
*.csv
*.txt
*.pkl
*.png
*.gif
*.npz
*.npy
*.hdf5
*.h5
*.mp4
*.pdf

*.sh
slurm-*.out
events.*
