__pycache__
.ipynb_checkpoints
.dmypy.json
.vscode
.devcontainer

work
workflow/*/raw_data
workflow/*/data
workflow/*/results*
.nextflow
.nextflow*
.snakemake
raw-data

# Hydra dev output
outputs
# Nextflow output
results
# Intermediate outputs
*.csv
*.txt
*.pkl
*.png
*.gif
*.npz
*.npy
*.hdf5
*.h5
