singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /home/jgauthie/.cache/huggingface -B /home/jgauthie/scr/.cache -B /net/vast-storage.ib.cluster/scratch/vast/cpl/jgauthie/scratch -B /om2/user/jgauthie/scratch -B /rdma/vast-rdma/vast/cpl/jgauthie/scratch/.cache"
}
process.container = "/home/jgauthie/om/vagrant/singularity/bayesian-erp.simg"